@page
@using EvilCorp2000.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var test = "<b>Hi</b>";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>@test</p>
<p>@Html.Raw(test)</p>



<h2>Products</h2>

@foreach (ProductForSaleDTO product in Model.ProductsForSale)
{
    <div>
        <p>
            <h5>@product.ProductName.Trim()</h5>
            @if (@product.Categories.Count != 0)
            { 
                var categoryLine = @product.Categories.Aggregate((c1, c2) => c1 + ", " + c2);
                <b>@categoryLine</b>
                
            }
        </p>
        <p>@product.Price</p>
        <p>@product.Description</p>
    </div>
    

}



@*
Bsp für get
<form method="get">
    <label asp-for="SearchTerm">Suche</label>
    <input asp-for="SearchTerm" />
    <button type="submit">Suchen</button>
</form>

Bsp für Post
<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />

    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" />

    <label asp-for="Message"></label>
    <textarea asp-for="Message"></textarea>

    <button type="submit">Absenden</button>
</form>
*@